<div class="row">
  <div class="col-md-1">
    {{akaTeam.name}}
  </div>
  <div class="col-md-1">
    {{shiroTeam.name}}
  </div>
</div>
<div class="row">
  <ul class="list-unstyled">
    <li *ngFor="let fight of fights">
      <ippon-fight-line [fight]="fight">
      </ippon-fight-line>
    </li>
  </ul>
</div>
<div *ngIf="isAdmin == true">
  <ippon-fight-form id="add-fight-form" [akaPlayers]="akaTeam.members" [shiroPlayers]="shiroTeam.members" [teamFight]="teamFight.id"
    (reloadRequest)="reload()"></ippon-fight-form>
</div>