<div class="row">
  <div class="col text-center display-4">
    {{akaPlayer.name}} {{akaPlayer.surname}}
  </div>
  <div class="col text-center display-4">
    {{shiroPlayer.name}} {{shiroPlayer.surname}}
  </div>
  <div class="col text-center display-4" *ngIf="isAdmin">
  </div>
</div>
<div class="row">
  <ul class="list-group col">
    <li *ngFor="let point of points" class="list-group-item">
      <ippon-point-line [akaPlayer]="akaPlayer" [shiroPlayer]="shiroPlayer" [point]="point" (reloadRequest)="reload()"
        [isAuthorized]="isAdmin">
      </ippon-point-line>
    </li>
  </ul>
</div>
<div *ngIf="isAdmin == true">
  <div class="row">
    <div class="col">
      <ippon-point-form id="add-point-form" [akaPlayer]="akaPlayer" [shiroPlayer]="shiroPlayer" [fightId]="fight.id"
        (reloadRequest)="reload()"></ippon-point-form>
    </div>
  </div>
  Winner
  <div class="row">
    <div class="col">
      <label for="winner-selection-aka" i18n>
        <input type="radio" [(ngModel)]="fight.winner" name="winner-selection" id="winner-selection-aka" [value]=1
          [checked]="1===fight.winner" (ngModelChange)="updateFight()">
        Aka</label>
    </div>
    <div class="col">
      <label for="winner-selection-none" i18n>
        <input type="radio" [(ngModel)]="fight.winner" name="winner-selection" id="winner-selection-none" [value]=0
          [checked]="0===fight.winner" (ngModelChange)="updateFight()">None</label>
    </div>
    <div class="col">
      <label for="winner-selection-shiro">
        <input type="radio" [(ngModel)]="fight.winner" name="winner-selection" id="winner-selection-shiro" [value]=2
          [checked]="2===fight.winner" (ngModelChange)="updateFight()">Shiro</label>
    </div>
  </div>
  State
  <div class="row">
    <div class="col">
      <label for="state-selection-prepared" i18n>
        <input type="radio" [(ngModel)]="fight.status" name="status-selection" id="status-selection-prepared" [value]=0
          [checked]="0===fight.status" (ngModelChange)="updateFight()">
        Pepared</label>
    </div>
    <div class="col">
      <label for="status-selection-started" i18n>
        <input type="radio" [(ngModel)]="fight.status" name="status-selection" id="status-selection-started" [value]=1
          [checked]="1===fight.status" (ngModelChange)="updateFight()">Started</label>
    </div>
    <div class="col">
      <label for="status-selection-finished">
        <input type="radio" [(ngModel)]="fight.status" name="status-selection" id="status-selection-finished" [value]=2
          [checked]="2===fight.status" (ngModelChange)="updateFight()">Finished</label>
    </div>
  </div>
</div>