<div class="row">
  <div class="col-md-1">
    {{akaPlayer.name}} {{akaPlayer.surname}}
  </div>
  <div class="col-md-1">
    {{shiroPlayer.name}} {{shiroPlayer.surname}}
  </div>
</div>
<div class="row">
  <ul class="list-unstyled">
    <li *ngFor="let point of points">
      <ippon-point-line [akaPlayer]="akaPlayer" [shiroPlayer]="shiroPlayer" [point]="point" (reloadRequest)="reload">
      </ippon-point-line>
    </li>
  </ul>
</div>
<div *ngIf="isAdmin == true">
  <ippon-point-form id="add-point-form" [akaPlayer]="akaPlayer" [shiroPlayer]="shiroPlayer" [fightId]="fight.id"
    (reloadRequest)="reload()"></ippon-point-form>
</div>