<section class="jumbotron">
  <h1 class="display-4 text-center">{{ player.name }} {{ player.surname }}</h1>
  <section class="row">
    <div class="col">
      <button (click)="goBack()" class="btn-primary" id="back-player" i18n>
        &larr; Back
      </button>
    </div>
    <div *ngIf="isAdmin" class="col-offset-1 col text-right btn-group">
      <button routerLink="/player/{{player.id}}/edit" class="btn btn-info" id="edit-player" i18n> EDIT </button>
      <button (click)="deletePlayer()" class="btn btn-danger" id="delete-player" i18n> DELETE </button>
    </div>
  </section>
</section>