<div class="row">
  <div class="col" id="aka-point">
    <div *ngIf="point.player == akaPlayer.id" class="point">
      {{point.type | pointType}}
    </div>
  </div>
  <div class="col" id="shiro-point">
    <div *ngIf="point.player == shiroPlayer.id" class="point">
      {{point.type | pointType}}
    </div>
  </div>
  <div class="col" *ngIf="isAuthorized">
    <button *ngIf="isAuthorized" class="col btn btn-danger" id="delete-point" (click)="deletePoint()" i18n>
      Delete</button>
  </div>
</div>