<div class="row">
  <div class="col" i18n>
    Username
  </div>
  <div class="col" i18n>
    Admin
  </div>
</div>
<div id='admins' class="row" ng-if="admins.length">
  <ul class="list-group col">
    <li *ngFor="let admin of admins" class="list-group-item">
      <ippon-club-admin-form [admin]="admin" (reloadRequest)="reload()">
      </ippon-club-admin-form>
    </li>
  </ul>
</div>
<div id='non_admins' class="row">
  <div class="col">
    <div class="row">
      <div class="col" i18n>
        Not admins
      </div>
    </div>
    <div class="row">
      <ul class="list-group col">
        <li *ngFor="let nonAdmin of nonAdmins" class="list-group-item">
          <div class="row non-participant">
            <div class="col">
              {{nonAdmin.username}}
            </div>
            <button class="btn btn-primary col" id="add-admin" (click)="addAdmin(nonAdmin)" i18n>Add</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class='row'>
  <button routerLink="/club/{{clubId}}" class="btn btn-info" id="back-to-club" i18n> &larr; club </button>
</div>