<div class="card">
  <div id="group-name" class="card-title text-center display-4">
    {{group.name}}
  </div>
  <div class="card-body">
    <h4 class="display-4 text-center" i18n>Members</h4>
    <div *ngIf="isAuthorized == false" id="group-members-list">
      <ippon-group-member-list [teams]="teams" [groupId]="group.id" [isAuthorized]="false"
        (reloadRequest)="reloadTeams()" id="group-member-list"></ippon-group-member-list>
    </div>
    <div *ngIf="isAuthorized==true" id="group-member-management" class="row">
      <div class="col">
        <ippon-group-member-form [group]="group.id" (reloadRequest)="reloadTeams()"></ippon-group-member-form>
      </div>
    </div>
    <h4 class="display-4 text-center" i18n>Fights</h4>
    <div id="group-fights" class="row">
      <ul class="list-group col">
        <li *ngFor="let fight of groupFights" class="list-group-item">
          <ippon-group-fight-line [groupFight]="fight" [isAuthorized]="isAuthorized" (reloadRequest)="reloadFights()">

          </ippon-group-fight-line>
        </li>
      </ul>
    </div>
    <div id="group-fight-management" *ngIf="isAuthorized == true" class="row">
      <div class="col">
        <ippon-group-fight-form [group]="group.id" [tournament]="tournament" [teams]="teams"
          (reloadRequest)="reloadFights()"></ippon-group-fight-form>
      </div>
    </div>
  </div>
</div>