<div class="row">
  <h1 class="h3 col-10 text-center">
    <a routerLink="/fights/{{fight.id}}">
      <div class="row">
        <div class="col">
          <div class="row" id="aka-player">
            <div class="col">
              {{akaPlayer.name}} {{akaPlayer.surname}}
            </div>
            <div class="col">
              <div clas="row">
                <div class="col" *ngFor="let point of akaPoints">{{point.type|pointType}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row" id="shiro-player">
            <div class="col">
              <div clas="row">
                <div class="col" *ngFor="let point of shiroPoints">{{point.type|pointType}}</div>
              </div>
            </div>
            <div class="col">
              {{shiroPlayer.name}} {{shiroPlayer.surname}}
            </div>
          </div>
        </div>
      </div>
    </a>
  </h1>
  <button *ngIf="isAuthorized" class="col btn btn-danger" id="delete-fight" (click)="deleteFight()" i18n>
    Delete</button>
</div>