<div class="col">
  <div *ngIf="cupFight.team_fight != undefined; else empty" class="row">
    <div class="col">
      <div class="row">
        <div class="col">{{aka_team?.name}}</div>
      </div>
      <div class="row">
        <div class="col">{{shiro_team?.name}}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col">&nbsp;</div>
      </div>
    </div>
  </div>
</ng-template>