<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3" i18n>Clubs</h1>
</header>

<section class="row">
  <div *ngIf="signedIn()" class="form-group col-md-6 col-md-offset-3 text-center">
    <button routerLink="/club/new" class="btn btn-info btn-lg" id="new-club" i18n>Add</button>
  </div>
</section>

<section class="row" ng-if="clubs.length">
  <ul class="list-unstyled">
    <li *ngFor="let club of clubs">
      <app-club-line [club]="club"></app-club-line>
    </li>
  </ul>
</section>