<div class="row">
  <span class="col-sm-1" i18n>
    Name
  </span>
  <span class="col-sm-1" i18n>
    Surname
  </span>
  <span class="col-sm-1" i18n>
    Is paid
  </span>
  <span class="col-sm-1" i18n>
    Is registered
  </span>
  <span class="col-sm-1" i18n>
    Age
  </span>
  <span class="col-sm-1" i18n>
    Grade
  </span>
  <span class="col-sm-1" i18n>
    Sex
  </span>
  <span class="col-sm-1">
    Qualified
  </span>
  <span class="col-sm-4">
    Notes
  </span>
</div>
<section class="row" ng-if="participations.length">
  <ul class="list-unstyled">
    <li *ngFor="let participation of participations">
      <ippon-tournament-participation-form [participation]="participation" (reloadRequest)="reload()"></ippon-tournament-participation-form>
    </li>
  </ul>
</section>
<section id='non_participants'>
  <p i18n>
    Not participating
  </p>
  <ul class="list-unstyled">
    <li *ngFor="let non_participant of non_participants">
      <div class="row non-participant">
        <ippon-player-line [player]="non_participant"></ippon-player-line>
        <button class="btn btn-primary" id="add-participant" (click)="addParticipant(non_participant)" i18n>Add</button>
      </div>
    </li>
  </ul>
</section>
<section>
  <button routerLink="/tournament/{{tournamentId}}/" class="btn btn-default" id="index-club" i18n>
    &larr; Tournament
  </button>
</section>