<section class="card">
  <h1 class="card-title text-center">{{tournament.name}}</h1>
  <div class="card-body">
    <div class="card">
      <h3 class="card-title" i18n>When and where</h3>
      <div class="card-body">
        <p class="lead">{{tournament.city}}</p>
        <p>
          <a href="{{tournament.webpage}}">{{tournament.webpage}}</a>
        </p>
        <p>
          {{tournament.date|date: 'yyyy-MM-dd'}}
        </p>
        <p>
          {{tournament.address}}
        </p>
        <p>
          {{tournament.description}}
        </p>
      </div>
    </div>
    <div class="card">
      <h3 class="card-title" i18n>Rules</h3>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" *ngIf="tournament.age_constraint != numericNone">
            <span i18n>Age</span> {{tournament.age_constraint | numericConstraint}} {{tournament.age_constraint_value}}
          </li>
          <li class="list-group-item" *ngIf="tournament.rank_constraint != numericNone">
            <span i18n>Rank</span> {{tournament.rank_constraint | numericConstraint}}
            {{tournament.rank_constraint_value |
            kendoRank}}
          </li>
          <li class="list-group-item" *ngIf="tournament.sex_constraint != sexNone">
            <span i18n>{{tournament.sex_constraint | sexConstraint}}</span>
          </li>
          <li class="list-group-item">
            <span i18n>Team size</span>: {{tournament.team_size}}
          </li>
          <li class="list-group-item">
            <span i18n>Group match length</span>: {{tournament.group_match_length}}
          </li>
          <li class="list-group-item">
            <span i18n>KO match legth</span>: {{tournament.ko_match_length}}
          </li>
          <li class="list-group-item">
            <span i18n>Final match length</span>: {{tournament.final_match_length}}
          </li>
        </ul>
      </div>
    </div>
    <ippon-group-phase-management [tournamentId]="tournament.id"></ippon-group-phase-management>
    <section>
      <div class="row">
        <button routerLink="/tournaments" class="btn btn-default col" id="index-club" i18n>
          &larr; Index
        </button>
        <button routerLink="/tournament/{{tournament.id}}/teams" class="btn btn-info col" id="view-teams" i18n> Teams
        </button>
        <div *ngIf="isAdmin" class="col text-right btn-group">
          <button routerLink="/tournament/{{tournament.id}}/edit" class="btn btn-warning" id="edit-tournament" i18n>
            Edit
          </button>
          <button (click)="deleteTournament()" class="btn btn-danger col" id="delete-tournament" i18n> Delete </button>
          <button routerLink="/tournament/{{tournament.id}}/participation" class="btn btn-primary"
            id="edit-participants" i18n> Registration </button>
          <button routerLink="/tournament/{{tournament.id}}/admin" class="btn btn-secondary" id="edit-admins" i18n>
            Admins
          </button>
        </div>
      </div>
    </section>
  </div>
</section>