<div class="row">
  <span class="col-sm-1" i18n>
    Username
  </span>
  <span class="col-sm-1" i18n>
    Admin
  </span>
</div>
<section id='admins' class="row" ng-if="admins.length">
  <ul class="list-unstyled">
    <li *ngFor="let admin of admins">
      <ippon-tournament-admin-form [admin]="admin" (reloadRequest)="reload()">
      </ippon-tournament-admin-form>
    </li>
  </ul>
</section>
<section id='non_admins'>
  <p i18n>
    Not admins
  </p>
  <ul class="list-unstyled">
    <li *ngFor="let nonAdmin of nonAdmins">
      <div class="row non-participant">
        {{nonAdmin.username}}
        <button class="btn btn-primary" id="add-admin" (click)="addAdmin(nonAdmin)" i18n>Add</button>
      </div>
    </li>
  </ul>
</section>
<section class='row'>
  <button routerLink="/tournament/{{tournamentId}}" class="btn btn-info" id="back-to-tournament" i18n> &larr tournament </button>
</section>