<div class="card">
  <h2 class="card-title text-center" i18n>Cup phases</h2>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <div class="row text-center">
              <div class="col" i18n>
                Name
              </div>
              <div class="col" i18n>
                Fight length
              </div>
            </div>
          </div>
          <div class="col" *ngIf="isAdmin">
            &nbsp;
          </div>
        </div>
      </li>
      <li *ngFor="let cupPhase of cupPhases" class="list-group-item">
        <ippon-cup-phase-line [cupPhase]="cupPhase" [isAuthorized]="isAdmin" (reloadRequest)="loadCupPhases()">

        </ippon-cup-phase-line>
      </li>
    </ul>
  </div>
  <div class="card" id="create-cup-phase" *ngIf="isAdmin">
    <div class="row card-body">
      <div class="col">
        <ippon-cup-phase-form [cupPhase]="newCupPhase" (reloadRequest)="loadCupPhases()">

        </ippon-cup-phase-form>
      </div>
    </div>
  </div>
</div>