<div>
  <div *ngIf="cupFights.length > 0" class="row">
    <div class="col-{{akaFights.length}}" id="aka-side">
      <ippon-cup-side [cupFights]="akaFights" [isReverseOrder]="true"></ippon-cup-side>
    </div>
    <div id="final-fight" class="col">
      <div id="cup-final-{{final?.id}}" class="node row">
        <ippon-cup-fight-tile [cupFight]="final"></ippon-cup-fight-tile>
      </div>
    </div>
    <div class="col-{{shiroFights.length}}" id="shiro-side">
      <ippon-cup-side [cupFights]="shiroFights" [isReverseOrder]="false"></ippon-cup-side>
    </div>
  </div>
  <div *ngIf="isAuthorized">
    <ippon-cup-creation [cupPhase]="cupPhase" [cupFights]="cupFights" (reloadRequest)="loadCupFights()">
    </ippon-cup-creation>
  </div>