<div class="row">
  <form role="form" name="admin-form" class="edit-user" #adminForm="ngForm">
    <span class="col-sm-1">
      {{admin.user.name}}
    </span>
    <span class="col-sm-1">
      <input type="checkbox" id="is_master" name="is_master" [(ngModel)]="admin.is_master" />
    </span>
    <span class="btn-group col-sm-1">
    <button class="btn btn-success" (click)="save()" id="save-admin" i18n>Save changes</button>
    <button class="btn btn-danger" (click)="delete()" id="delete-admin" i18n>Remove player</button>
  </span>
  </form>
</div>