<div class="col-{{cupFights.length}}" id="aka-side">
  <div class="row align-items-center">
    <div class="col order-{{getOrderNo(i)}}" *ngFor="let el of [].constructor(cupFights.length); let i = index">
      <div *ngIf="i < (cupFights.length - 1)" id="level-{{i}}">
        <div *ngFor="let cupFight of cupFights[i]; let j=index" id="cup-fight-{{cupFight?.id}}">
          <div class="node row">
            <ippon-cup-fight-tile [cupFight]="cupFight"></ippon-cup-fight-tile>
          </div>
          <div *ngIf="j != (cupFights[i].length -1)">
            <div *ngFor="let k of [].constructor(cupFights.length - i - 1)">
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="i == (cupFights.length - 1)" id="leaf-area">
        <div *ngFor="let cupFight of cupFights[i]">
          <div id="cup-fight-{{cupFight?.id}}" class="node row">
            <ippon-cup-fight-tile [cupFight]="cupFight"></ippon-cup-fight-tile>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>