<form *ngIf="group != undefined" class="form-horizontal row" role="form" name="group-form" #groupForm="ngForm">
  <div class="form-group col-8">
    <div class="row">
      <label for="name" class="control-label col" i18n>
        Group name
      </label>
      <input type="text" name="name" class="form-control col" placeholder="group name" [(ngModel)]="group.name">
    </div>
  </div>
  <div class="col text-right">
    <button class="btn btn-primary" (click)="save()" id="save-group" i18n>Create</button>
  </div>
</form>